<h2>Log In</h2>

<form action="/login" method="post">

  <input type="text" name="username" placeholder="username"><br>
  <input type="text" name="password" placeholder="password"><br>
  <input type="submit" value="Log In"><br><br>

</form>

<% if !logged_in? %>

  <a href="/signup">Sign Up</a><br>

<% end %>
