<h2>Sign Up</h2>

<form action="/signup" method="post">

  <input type="text" name="username" placeholder="username"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="text" name="password" placeholder="password"><br>
  <input type="submit" value="Sign Up"><br>

</form>

<% if logged_in? %>

  <a href="/logout">Log Out</a>

<% else %>

  <a href="/login">Log In</a>

<% end %>
