<h2>Welcome to Motion Pictures </h2>

<h4>At Motion Pictures users can create films, <br> and specify their relationship to them.</h4>

<% if !logged_in? %>

  <a href="/signup">Sign Up</a><br>
  <a href="/login">Log In</a>

<% end %>
